<h2>User info</h2>
<!-- 以下にプロフィール画像 -->
<div>
  <%= attachment_image_tag @book.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "100x100" %>
</div>

<table>
  <tbody>
    <tr>
      <td>name</td>
      <td><%= @book.user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= @book.user.introduction %></td>
      <!-- 上記にinstructionのカラムが必要 -->
    </tr>
  </tbody>
</table>

<div class="prpfile">
  <%= link_to "プロフィール編集", edit_user_path(@book.id) %>
</div>

<!-- form_for部分 -->
<h2>New book</h2>
<%= form_for (@book_new) do |f| %>
  <div class="field">
    <label for="book_title">Title</label><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label for="opinion">Opinion</label><br />
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Create Book" %>
<% end %>




<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
  	  <th>
        <%= link_to user_path(@book.user_id) do %>
          <%= attachment_image_tag @book.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
          <nav><%= @book.user.name %></nav>
        <% end %>
      </th>
  	  <td><%= link_to @book.title, book_path(@book.id) %></td>
  	  <td><%= @book.body %></td>
  	  <!-- ログインしているユーザーのみに編集リンク、削除リンクが表示されるようにする -->
  	  <% if @book.user_id == current_user.id %>
  	    <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
  	　  <td>
          <%= link_to "Destroy", book_path(@book.id),method: :delete, "data-confirm" => "本当に消しますか？" %>
        </td>
  	  <% end %>
    </tr>
  </tbody>
</table>